%text {
    font-family: $font-source;
    color: $white;
    font-weight: 400;
    font-size: 14px;
}

%text-semiBold {
    font-family: $font-source;
    color: $white;
    font-weight: 600;
    font-size: 14px;
}


@mixin button-text {
    @extend %text-semiBold;
    text-align: center;
    text-transform: uppercase;
    line-height: 14px;
    vertical-align: middle;
    color: $white;
}

